<nav class="bg-white border-gray-200 dark:bg-gray-900 dark:border-gray-700 ">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
        <a routerLink="" class="flex items-center space-x-3 rtl:space-x-reverse">

            <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">
                <h1 class="font-['Julius_Sans_One'] tracking-widest text-4xl">Larana</h1>
            </span>
        </a>
        <button data-collapse-toggle="navbar-dropdown" type="button"
            class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
            aria-controls="navbar-dropdown" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 1h15M1 7h15M1 13h15" />
            </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar-dropdown">
            <ul
                class="font-['Karla'] flex flex-col items-center font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                <li>
                    <a href="#"
                        class="block py-2 px-3 uppercase text-sm font-bold text-[#0C0C0F] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Just
                        in</a>
                </li>
                <li>
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" data-dropdown-trigger="hover"
                        class="flex items-center justify-between uppercase text-sm font-bold w-full py-2 px-3 text-[#0C0C0F] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto ">Adidas
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownHover"
                        class="z-40 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li *ngFor="let adidasCategory of adidasCategories">
                                <a [routerLink]="['/collections', adidasCategory]"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{adidasCategory}}</a>
                            </li>
                        </ul>

                    </div>
                </li>
                <li>
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownNike" data-dropdown-trigger="hover"
                        class="flex items-center justify-between uppercase text-sm font-bold w-full py-2 px-3 text-[#0C0C0F] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 md:w-auto ">Nike
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdownNike"
                        class="z-40 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700 dark:divide-gray-600">
                        <ul class="py-2 text-sm text-gray-700 dark:text-gray-400" aria-labelledby="dropdownLargeButton">
                            <li *ngFor="let nikeCategory of nikeCategories">
                                <a [routerLink]="['/collections', nikeCategory]"
                                    class="block px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{nikeCategory}}</a>
                            </li>

                        </ul>

                    </div>
                </li>
                <li>
                    <a href="#"
                        class="block py-2 px-3 uppercase text-sm font-bold text-[#0C0C0F] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Fly
                        Society</a>
                </li>
                <li>
                    <a href="#"
                        class="block py-2 px-3 uppercase text-sm font-bold text-[#0C0C0F] rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0">Brand</a>
                </li>
                <li>
                    <div>
                        <button type="button" routerLink="/carts"
                            class="relative inline-flex items-center p-3 text-sm font-medium text-center ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
                            </svg>

                            <div
                                class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-bold text-[#0C0C0F] bg-[#FFDB00] border-2 border-white rounded-full top-2 -end-1 dark:border-gray-900">
                                {{cartItemSize}}</div>
                        </button>
                        <button type="button"
                            class="relative inline-flex items-center p-3 text-sm font-medium text-center ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                            </svg>



                        </button>
                        <button type="button"
                            class="relative inline-flex items-center p-3 text-sm font-medium text-center ">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="size-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M17.982 18.725A7.488 7.488 0 0 0 12 15.75a7.488 7.488 0 0 0-5.982 2.975m11.963 0a9 9 0 1 0-11.963 0m11.963 0A8.966 8.966 0 0 1 12 21a8.966 8.966 0 0 1-5.982-2.275M15 9.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" />
                            </svg>

                        </button>
                    </div>

                </li>
            </ul>
        </div>
    </div>
</nav>